
@{
    ViewBag.Title = "UserReg";
}

<h3>Форма</h3>


<form>

    <a href="@Url.Action("UserCheck", "Home")" class="btn btn-success">Проверить</a>

    <a href="@Url.Action("UserCreate", "Home")" class="btn btn-primary">Регистрация</a>
</form>